.input-area {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px dashed #ccc;
    border-radius: 2px;
    width: 100%;
    font-family: sans-serif;
    cursor: pointer;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.input-text{
  margin: 6px;
}

input {
    display: none;
}
.preview-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.component-wrap{
  width: 100%;
}
