.preview-card {
    display: flex;
    background-color: #fff;
    justify-content: center;
    flex-direction: column;
    position: relative;
    min-width: 0;
    overflow: hidden;
    margin: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    height: 128px;
    max-width: 128px;
    flex-grow: 1;
    object-position: center;
    object-fit: contain;
    transition: 0.25s;
}

.img-title {
    flex: 0;
    word-wrap: break-word;
}

.preview-mdl > img {
    width: 100%;
    height: 100%;
}

.preview-card:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-shadow:#e9e9e9 0px 15px 15px 0px;
	transform:translatey(-4px);
}