<div class="stand-wrapper">
  <section>
    Round buttons
    Large
    <div class="row">
      <app-ngx-md-round-button [type]="'edit'" [size]="'lg'"></app-ngx-md-round-button>
      <app-ngx-md-round-button [type]="'delete'" [size]="'lg'"></app-ngx-md-round-button>
    </div>
    Middle
    <div class="row">
      <app-ngx-md-round-button [type]="'edit'" [size]="'m'"></app-ngx-md-round-button>
      <app-ngx-md-round-button [type]="'delete'" [size]="'m'"></app-ngx-md-round-button>
    </div>
    Small
    <div class="row">
      <app-ngx-md-round-button [type]="'edit'" [size]="'sm'"></app-ngx-md-round-button>
      <app-ngx-md-round-button [type]="'delete'" [size]="'sm'"></app-ngx-md-round-button>
    </div>
  </section>
  <section>
    Buttons
    <div class="row">

    </div>
  </section>
</div>
